@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    font-family:  'Poppins', sans-serif;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.grad{
  background-size:cover;
  filter: blur(4px); /* Supported in Chrome 76 */
  background-position: center center;
  width: 100%;
  height: 100%;
  position: fixed;
  top:10;
  left:0;
  transform: scale(1.1);
  background-image: linear-gradient(110.75deg, rgba(0, 0, 0, 0.8) 0.73%, rgba(0, 0, 0, 0.3) 88.25%), url("../public/hero-image.jpg");
}

.translucent-overlay{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(110.75deg, rgba(0, 0, 0, 0.8) 0.73%, rgba(0, 0, 0, 0.3) 88.25%);
  position: absolute;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index: -1;
  filter: blur(4px);
}

.text-stroke-black{
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}

/* ChartJS */
canvas{
  width: 100% !important;
  height: 100% !important;
}

/* Animations */
.wrapper {
  position: relative;
  overflow: hidden;
  width: 600px;
  height: 370px; 
  border: 1px solid black;
}

.slide {
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 0s;
  animation: slide 0.5s forwards;
  animation-delay: 0s;
}

@-webkit-keyframes slide {
  0% {display: none;}
  100% { left: 0;
  display: block; }
}

@keyframes slide {
  0% {display: none;}
  100% { left: 0;
  display: block; }
}

@keyframes slide-left {
  0% {
    transform: translateX(200%);
  }
  25% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-100%);
  }
  25% {
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(0%);
  }
}

.slideleft {
  animation: slide-left 300ms;
}

.slideright{
  animation: slide-right 300ms;
}

.animated{
  animation: 1.2s fadeInLeft both;
  animation-delay: 500ms;
}

.fadeInLeft{
  -webkit-animation: 1.2s both;
  -moz-animation: 1.2s both;
  -o-animation: 1.2s both;
}
.fadeInRight{
  animation: 1.2s fadeInRight both;
  animation-delay: 500ms;
}
.fadeAbove{
  animation: 1.2s fadeAbove both;
  animation-delay: 500ms;
}

@keyframes fadeInLeft{
  0%{
    opacity: 0;
    -webkit-transform: translateX(-200px);
  }
  100%{
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@keyframes fadeInRight{
  0%{
    opacity: 0;
    transform: translateX(200px);
    
  }
  100%{
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeAbove{
  0%{
    opacity: 0;
    transform: translateY(200px);
    
  }
  100%{
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}