*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Landing Page */
.translucent-overlay{
  background: linear-gradient(110.75deg, rgba(0, 0, 0, 0.8) 0.73%, rgba(0, 0, 0, 0.3) 88.25%);
  position: absolute;
  width: 100%;
  min-height: 100vh;
  height: auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index: -1;
  filter: blur(4px);
}

.navbar{
  width: 100%;
  height: 125px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.navbar-icon{
  position: relative;
  z-index: 0;
  height: 100px;
  width: 125px;
  background-image: url("../public/logo2.png");
  background-repeat: no-repeat;
  background-position: center;
}

.navbar ul{
  display: flex;
  flex: 1;
  justify-content: center;
}

.navbar ul li{
  margin: auto;
  cursor: pointer;
}

.navbar ul li:hover{
  text-decoration: underline;
}

.navbar-register{
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.navbar-register button{
  padding: 10px 10px;
  width: 60%;
  border-radius: 15px;
  background-color: #FDAD00;
  color: black;
  font-weight:600;
}

.navbar-line{
  width: 100%;
  display: flex;
  padding: 0 15px;
  justify-content: center;
}

.navbar-line hr{
  width: 100%;
  height: 100%;
  border: 1px solid #FDAD00;
  border-radius: 10px;
}

.hero-content{
  display: flex;
  position: relative;
  flex-direction: column;
  padding-top: 10px;
  width: 100%;
  height: calc(100vh - 150px);
}

.hero-image{
  position: absolute;
  height: 100%;
  z-index: -2;
  filter: blur(4px);
  width: 100%;
  object-fit: cover;
}

.hero-title{
  font-size: 64px;
  padding: 15px;
  color: #FDAD00;
}

.hero-subtitle{
  font-size: 36px;
  padding: 15px;
  color: white;
}

.hero-description{
  font-size: 24px;
  padding: 15px;
  color: white;
}

/* User Homepage */
.sidenavbar{
  display: flex;
  height: 100vh;
  width: 20%;
  background-color: black;
  flex-direction: column;
  padding: 5px 10px;
}

.sidenavbar-top{
  display: flex;
  height: 20%;
  width: 100%;
}

.sidenavbar-top img{
  height: 64px;
  width: 128px;
}

.sidenavbar-items{
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
  height: 80%;
  margin-bottom: 5px;
  overflow-y: scroll;
}

.sidenavbar-item{
  display: flex;
  width: 100%;
  height: 10%;
  color: #FDAD00;
}

.topnavbar{
  display: flex;
  height: 20vh;
  width: 100%;
  background-color: black;
}

/* CUSTOM SCROLLBAR STYLE */
.scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #000000;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #FDAD00;
  border-radius: 100vh;
  border: 3px solid #000000;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #FDAD00;
}

/* Responsitivity */
@media only screen and (max-width: 678px) {
  .navbar ul{
    display: none;
  }
  .hero-subtitle{
    font-size: 36px;
    padding: 15px;
    color: white;
  }
  
  .hero-description{
    text-align: center;
  }
}

